{% extends "base.html" %}

{% set active_page = "Admin" %}

{% block body %}

    <form method=post enctype=multipart/form-data action="" id="mett">
        <div class="row justify-content-center mt-4">
            <div class="form-group col-md-2">
                <label for="bun">Bun</label>
                <select class="form-control" id="bun" name="bun">
                    {% for bun in bun_classes %}
                        <option>{{ bun }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="username">User</label>
                <select class="form-control" id="username" name="username">
                    {% for user in users %}
                        <option>{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <button type="submit" value=submit class="btn btn-outline-primary"><i class="fas fa-edit"></i> Assign</button>
        </div>
    </form>

{% endblock %}
