{% extends "base.html" %}

{% set active_page = "Admin" %}

{% block head %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

{% endblock %}

{% block body %}

    <div class="container">
            <div class="row">
                <div class="col-md-auto border border-secondary rounded">
                    <br />
                    {% if order_exists %}
                        <form action="/admin/close_order" style="display:inline">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fas fa-check"></i> Close order
                            </button>
                        </form>
                        <br /><br />
                        <form action="/admin/cancel_order" style="display:inline">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fas fa-ban"></i> Cancel order
                            </button>
                        </form>
                    {% else %}
                        <form method=post enctype=multipart/form-data action="">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Expiry date</span>
                                </div>
                                <input type="text" class="form-control" value="2019-01-01" id="datepicker-div" name="expiry">
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datepicker-div').datepicker({
                                            format: 'yyyy-mm-dd',
                                            todayHighlight: true
                                        });
                                    });
                                </script>
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="submit" value=submit>
                                        <i class="fas fa-plus"></i> Create order
                                    </button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                    <br /><br />
                </div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-auto border border-primary rounded">
                    <br />
                    <a class="btn btn-outline-primary" href="/admin/balance"><i class="fas fa-dollar-sign"></i> Change user balance</a>
                    <br /><br />
                    <a class="btn btn-outline-primary" href="/admin/formula"><i class="fas fa-calculator"></i> Change mett formula</a>
                    <br /><br />
                    <a class="btn btn-outline-primary" href="/admin/purchase"><i class="fas fa-list"></i> Show purchases</a>
                    <br /><br />
                    <a class="btn btn-outline-primary" href="/admin/spare"><i class="fas fa-edit"></i> Assign Spare</a>
                    <br /><br />
                </div>
            </div>
        </form>
    </div>

{% endblock %}
