<!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>mettinizr</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.2.1-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.13.0-web/css/all.min.css') }}">

        <script src="{{ url_for('static', filename='jquery/jquery-3.5.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='popper/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-4.2.1-dist/js/bootstrap.min.js') }}"></script>

        {% block head %}{% endblock %}

        {% block styles %}{% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-dark bg-danger" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand" href="#">mettinizr</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#some-navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="some-navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'Dashboard' %} active {% endif %}" href="{{ url_for("") }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'Order' %} active {% endif %}" href="{{ url_for("order") }}">Order</a>
                    </li>
                    {% if current_user | user_has_role('admin') %}
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == 'Admin' %} active {% endif %}" href="{{ url_for("admin") }}">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == 'User' %} active {% endif %}" href="{{ url_for("user") }}">Users</a>
                        </li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ current_user.name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for("profile") }}">Profile</a>
                                <a class="dropdown-item" href="{{ url_for("security.logout") }}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == 'Login' %} active {% endif %}" href="{{ url_for("security.login") }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
                <span class="navbar-text">
                    keeping your mett organized since 2018
                </span>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div class="container-fluid">

            <!-- flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="row justify-content-center mt-3">
                    <div class="col-xl-6 col-lg-8 col-md-10">
                        {% for category, message in messages %}
                            {% set flash_categories = ['danger', 'warning', 'primary', 'success'] %}
                            <div class="alert alert-{{ category if category in flash_categories else 'primary' }} alert-dismissible mt-2" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endwith %}

            {% block body %}{% endblock %}
        </div>

    </body>
</html>
