{% extends "base.html" %}

{% set active_page = "Dashboard" %}

{% from "macros/cards.html" import bun_order_card %}

{% block body %}

    <div class="row justify-content-start mt-4">
        <div class="col-xl-3 col-lg-4 col-md-5 offset-xl-3 offset-lg-2 offset-md-1">
            <h5>Hi {{ username }}</h5>
            <div>Your current cash total is {{ balance | round(2) }} $</div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-xl-3 col-lg-4 col-md-5">
            {{ bun_order_card('Your average order', 'You have ordered a mean of {} total buns.'.format(mean_buns | round(2)), history) }}
        </div>
        <div class="col-xl-3 col-lg-4 col-md-5">
            {% if order_exists %}
                {{ bun_order_card('Current Order', 'You have currently ordered {} buns.'.format(order.values() | sum), order) }}
            {% else %}
                <p class="alert">There is no current order!</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
