{% extends "base.html" %}

{% set active_page = "Dashboard" %}

{% block body %}

    <div class="container">
        <p>Welcome {{ username }}! This is home.<br />Your current balance is {{ balance | round(2) }}.</p>

            <div class="row">
                <div class="col col-md-3">
                    <p class="alert">Your average order</p>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Bun</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bun in history %}
                                <tr>
                                    <td scope="row">{{ bun }}</td>
                                    <td>{{ history[bun] | round(2) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p class="alert">You have ordered a mean of {{ mean_buns | round(2) }} total buns.</p>
                </div>
                <div class="col col-md-3">
                    {% if order_exists %}
                        <p class="alert">Current Order</p>
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Bun</th>
                                    <th scope="col">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bun in order %}
                                    <tr>
                                        <td>{{ bun }}</td>
                                        <td>{{ order[bun] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="alert">There is no current order!</p>
                    {% endif %}
                </div>
            </div>
    </div>

{% endblock %}
