{% extends "base.html" %}

{% set active_page = "Order" %}

{% block body %}

    <div class="container">
        {% if allowed_to_order %}
            <form method=post enctype=multipart/form-data action="">
                <div class="row border rounded">
                    <div class="form-group col-md-1">
                        <label for="orderAmount">Number of buns</label>
                        <input type="number" step="1" min="0" class="form-control" id="orderAmount" name="orderAmount">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="orderClass">Type of bun</label>
                        <select class="form-control" id="orderClass" name="orderClass">
                            {% for bun_class in bun_classes %}
                                <option>{{ bun_class }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" value=submit class="btn btn-outline-primary"><i class="fas fa-cart-plus"></i> Order</button>
                    </div>
                </div>
            </form>
        {% endif %}
        {% if order_exists %}
            <div class="row">
                <div class="col-md-4">
                    <p class="alert">Current total order</p>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Bun</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bun in buns %}
                                <tr>
                                    <td scope="row">{{ bun }}</td>
                                    <td>{{ buns[bun] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p class="alert">That makes {{ mett | round }} g of mett.</p>
                </div>
            </div>
        {% else %}
            <p class="alert">There is no current order!</p>
        {% endif %}
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-outline-primary" href="{{ url_for("order/purchase") }}"><i class="fas fa-shopping-basket"></i> State purchase</a>
            </div>
        </div>

        <div class="row pt-md-2">
            <div class="col-md-4">
                <a class="btn btn-outline-primary" href="{{ url_for("order/previous") }}"><i class="fas fa-history"></i> Show ordered items</a>
            </div>
        </div>

    </div>

{% endblock %}
