{% extends "base.html" %}

{% set active_page = "Order" %}

{% block body %}

    <div class="container">
        {% if order_exists %}
            <form method=post enctype=multipart/form-data action="">
                <div class="row">
                    <div class="form-group col-md-2">
                        <label for="orderAmount">Number of buns</label>
                        <input type="number" step="1" min="0" class="form-control" id="orderAmount" name="orderAmount">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="orderClass">Type of bun</label>
                        <select class="form-control" id="orderClass" name="orderClass">
                            {% for bun_class in bun_classes %}
                                <option>{{ bun_class }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" value=submit class="btn btn-primary">Order!</button>
                </div>
            </form>
        {% else %}
            <p class="alert">There is no current order!</p>
        {% endif %}
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-outline-primary" href="/order/purchase">State purchase</a>
            </div>
        </div>
    </div>

{% endblock %}
