{% extends "base.html" %}

{% set active_page = "User" %}

{% block body %}

    <div class="table-responsive-md">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">balance</th>
                    <th scope="col">roles</th>
                    <th scope="col">delete</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user['name'] }}</td>
                        <td>{{ user['balance'] }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="role management">
                                <button type="button" class="btn btn-outline-success"><i class="fas fa-plus"></i></button>
                                <button type="button" class="btn btn-outline-danger"><i class="fas fa-minus"></i></button>
                            </div>
                            Has: {{ user['roles'] }}
                        </td>
                        <td><button type="button" class="btn btn-outline-danger"><i class="fas fa-user-slash"></i></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <br /><br />
    <form method=post enctype=multipart/form-data action="">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Create user</span>
            </div>
            <input type="text" class="form-control" aria-label="name" name="new_user" placeholder="name">
            <input type="password" class="form-control" aria-label="password" name="new_password" placeholder="password">
            <div class="input-group-append">
                <button class="btn btn-outline-success" type="submit" id="create-user-button" value=submit>
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </form>
{% endblock %}
