{% extends "base.html" %}

{% set active_page = "Dashboard" %}

{% block body %}

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">roles</th>
                    <th scope="col">balance</th>
                    <th scope="col">delete</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user['name'] }}</td>
                        <td>{{ user['roles'] }}</td>
                        <td>{{ user['balance'] }}</td>
                        <td> - </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
