[DEFAULT]
any = 0
expiry_time = 14:30:00

[Runtime]
testing = false
behind_proxy = false
proxy_suffix = mett

[User]
default_role = user

[Mett]
default_buns = Weizen, Roggen
half_buns = Roeggelchen
default_spare = Weizen
default_price = 1.00
default_grams = 66.0
spare_count = 2

[Database]
database_path = /data/mett/mettstore.sqlite
default_user = init
default_password = init