{% extends "base.html" %}

{% set active_page = "Login" %}

{% block body %}

<div class="row justify-content-center mt-4">
    <div class="col-xl-6 col-lg-8 col-md-10">
        <h3>
            Profile of {{ user }}
        </h3>
    </div>
</div>

<div class="row justify-content-center mt-3">
    <div class="col-xl-6 col-lg-8 col-md-10">
        <table class="table">
            <tbody>
                <tr>
                    <td>Username</td>
                    <td>{{ user }}</td>
                </tr>
                <tr>
                    <td>Roles</td>
                    <td>{{ roles | sort | join(', ') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row justify-content-center">
<!-- user change own password -->
    <div class="col-xl-6 col-lg-8 col-md-10">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#user_change_password_modal">
            Change Password
        </button>
        <div id="user_change_password_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Change password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>

                    <form method="post">
                        <div class="modal-body">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-lock"></i></span></div>
                                    <input id="password1" type="password" class="form-control" name="old_password" placeholder="old password" required>
                                </div>
                                <br />
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-lock"></i></span></div>
                                    <input id="user_change_password" type="password" class="form-control" name="new_password" placeholder="new password" required>
                                </div>
                                <br />
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-lock"></i></span></div>
                                    <input id="password2" type="password" class="form-control" name="new_password_confirm" placeholder="confirm new password" required>
                                </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="user_change_password_button" value="user_change_password">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}